{% extends "base.html" %}

{% block content %}

    <h1>Signup</h1>
    <form id="user_input" method="POST" action="/signup">
        <table>
            <tbody>
                <tr>
                    <td>
                        <label for="username">User Name</label>
                    </td>
                    <td>
                        <input id="username" name="username" type="text" value="{{username}}"/>
                        <span class="error">{{username_error}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password</label>
                    </td>
                    <td>
                        <input id="password" name="password" type="password"/>
                        <span class="error">{{password_error}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password_verify">Verify Password</label>
                    </td>
                    <td>
                        <input id="password_verify" name="password_verify" type="password"/>
                        <span class="error">{{password_verify_error}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="email">E-mail (optional)</label>
                    </td>
                    <td>
                        <input id="email" name="email" type="text" value="{{email}}"/>
                        <span class="error">{{email_error}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <input type="submit"/>
    </form>

{% endblock %}